<div class="content">
  <h1 class="title is-3">Importar estudantes via XLS</h1>
  <p>
    CUIDADO: Ao importar um novo arquivo, o mesmo deve seguir o modelo disponível neste <a href="#">link</a><br>
    Não importe arquivos fora deste padrão
  </p>
  <%= render 'students/form_xls' %>
</div>
