/* line 1, /home/ifms/ruby/siai-ifms-na/app/assets/stylesheets/print.scss */
* {
  background: transparent !important;
  color: #000 !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

/* line 9, /home/ifms/ruby/siai-ifms-na/app/assets/stylesheets/print.scss */
body {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
}

/* line 15, /home/ifms/ruby/siai-ifms-na/app/assets/stylesheets/print.scss */
.no-print {
  display: none;
}
