<div class="columns is-multiline shortcuts">
  <% if can? :read, Incident %>
    <div class="column is-one-quarter">
      <%= link_to incidents_path do %>
        <section>
          <i class="fa fa-book icons"></i>
          <h1>Ocorrências</h1>
        </section>
      <% end %>
    </div>
  <% end %>
</div>
