<div class="columns is-multiline shortcuts">
  <% if can? :read, Student %>
  <div class="column is-one-quarter">
    <%= link_to students_path do %>
      <section>
        <i class="fas fa-user-friends"></i>
        <h1>Estudantes</h1>
      </section>
    <% end %>
  </div>
  <% end %>
</div>
