<div class="columns is-multiline shortcuts">
  <% if can? :read, Student %>
  <div class="column is-one-quarter">
    <%= link_to students_path do %>
      <section>
        <i class="ion-ios-people-outline"></i>
        <h1>Estudantes</h1>
      </section>
    <% end %>
  </div>
  <% end %>

  <% if can? :manage, Course %>
  <div class="column is-one-quarter">
    <%= link_to courses_path do %>
      <section>
        <i class="fa fa-university icons"></i>
        <h1>Cursos</h1>
      </section>
    <% end %>
  </div>
  <% end %>

  <% if can? :manage, Incident %>
  <div class="column is-one-quarter">
    <%= link_to incidents_path do %>
      <section>
        <i class="fa fa-book icons"></i>
        <h1>Ocorrências</h1>
      </section>
    <% end %>
  </div>
  <% end %>
</div>
