<div class="columns shortcuts">
  <% if can? :manage, User %>
  <div class="column">
    <%= link_to users_path do %>
      <section>
        <i class="ion-ios-people-outline"></i>
        <h1>Usuários</h1>
      </section>
    <% end %>
  </div>
  <% end %>

  <% if can? :manage, Keypass %>
  <div class="column">
    <%= link_to keypasses_path do %>
      <section>
        <i class="ion-ios-locked-outline"></i>
        <h1>Senhas</h1>
      </section>
    <% end %>
  </div>
  <% end %>

  <% if can? :manage, Position %>
  <div class="column">
    <%= link_to positions_path do %>
      <section>
        <i class="ion-android-people"></i>
        <h1>Cargos/Funçôes</h1>
      </section>
    <% end %>
  </div>
  <% end %>

  <div class="column">
  </div>
</div>
