<div class="columns is-multiline shortcuts">
  <% if can? :read, Keypass %>
  <div class="column is-one-quarter">
    <%= link_to keypasses_path do %>
      <section>
        <i class="ion-ios-locked-outline"></i>
        <h1>Senhas</h1>
      </section>
    <% end %>
  </div>
  <% end %>
</div>
