<%= f.fields_for :morbids do |m| %>
<fieldset>
  <legend>História morbida pregressa</legend>
  <div class="columns">
    <div class="column">
      <%= render 'form_morbid_pre_exists', m: m %>
    </div>
    <div class="column">
      <%= render 'form_morbid_allergies', m: m %>
    </div>
    <div class="column">
      <%= render 'form_morbid_risc_factors', m: m %>
    </div>
  </div>
</fieldset>
<% end %>
