<fieldset>
  <legend>Selecione o paciente</legend>
  <div class="control select-type-patient">
    <!-- <label class="radio">
      <input type="radio" name="answer" id="is-server" checked>
      Servidor
    </label> -->
    <label class="radio">
      <input type="radio" name="answer" id="is-student" checked>
      Estudante
    </label>
  </div>

  <div class="control">
    <div class="field">
      <%= f.label :student_id, 'Estudante', class: 'label is-hidden' %>
      <p class="control">
        <div class="select is-server">
          <%= f.select :student_id, Student.get_all, { prompt: "Selecione o servidor" }, { :class => "select2 is-medium" } %>
        </div>
        <!-- <div class="select is-student">
          <% #= f.select :student_id, Student.get_all, { prompt: "Selecione o estudante" }, { :class => "select2 is-medium" } %>
        </div> -->
      </p>
    </div>
  </div>
</fieldset>
