<li class="pagination__item">
  <%= link_to_unless current_page.last?, "<span class='ion-ios-arrow-right'></span><span class='ion-ios-arrow-right'></span>".html_safe, url, :remote => remote, class: 'pagination__link' %>
</li>
