// Modifications

a {
  color: $green;
}

.container {
  max-width: 98%;
}

.in-mobile-expand {
  @media(max-width: 767px) {
    width: 100%;
  }
}

.is-grouped {
  @media(max-width: 767px) {

  }
}

.select:after {
  display: none;
}

.keypass_form input {
  margin-bottom: .4em;
}

.title, .subtitle {
  @media(max-width: 767px) {
     text-align: center
  }
}

.active {
  @extend .is-active;
  background: $green !important;
  color: $white !important;
}

.menu-label {
  font-size: 15px;
}

.profile {
  margin: 20px 0;
}
.is-64x64 {
  height: 64px;
  width: 64px;
  overflow: hidden;
}
