/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require select2
 *= require jquery-ui
 *= require alert_message
*/

@import "font-awesome-sprockets";
@import "font-awesome";

// librarys
@import "bulma";
@import 'ionicons';

// device
@import "devise/devise";

// Imports
@import "icons";
@import "modification";
@import "header";
@import "main";
@import "pagination";
@import "table";
