// Lateral
.menu {
  .menu-label {
    font-size: 15px;
  }
}

.menu-aside {

  transform: translateX(0);
  transition: all .25s linear;

  @media(max-width: 767px) {
    background: #FFF;
    border: 1px solid #CCC;
    position: absolute;
    top: -170px;
    left: -280px;
    z-index: 4;
  }
}

.active {
  @extend .is-active;
  background: $green !important;
  color: $white !important;
}

// Drop down lista
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-right: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 20px;
  top: 0;
  text-align: left;

  @media(max-width: 767px) {
    right: -50px;
    top: -100px;
  }

  a {
    display: block;
    padding: 5px 0;
  }
}

.menu-mobile {
  position: absolute;
  top: 2px;
  right: 5px;
  display: none;

  div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
  }

  @media(max-width: 767px){
    display: block;
  }
}

.dropdown:hover .dropdown-content {
    display: block;
}
