<fieldset>
  <legend>Motivos da consulta</legend>
  <div class="field">
    <%= f.label :complaints, "Tipo da Queixa", class: 'label' %>
    <div class="select is-fullwidth">
      <%= f.select :complaints, Patient::Appointment.complaints.keys.to_a, {}, { :class => "select2" } %>
    </div>
  </div>
    <div class="field">
      <%= f.label :description_complaint, 'Motivos da consulta', class: 'label' %>
      <%= f.text_area :description_complaint, class: 'textarea is-medium', placeholder: 'Motivos da consulta' %>
    </div>
</fieldset>
