<% flash.each do |key, value| %>
	<%
		unless ['success', 'danger', 'error'].include?(key)
			key = 'notice'
		end
	%>
  <div class="alert-message alert-message-<%= key %> no-print">
    <%= value.to_s.html_safe %>
  </div>
<% end %>
