<div class="media profile no-print">
  <div class="media-left">
    <figure class="image is-64x64">
      <%= image_tag current_user.avatar.thumb %>
    </figure>
  </div>
  <div class="media-content">
    <p class="title is-4"><%= current_user.name %></p>
    <p class="subtitle is-6"><%= current_user.email  %></p>
  </div>
</div>
